* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 2rem;
    display: grid;
    place-content: center;
    background-color: floralwhite;
    font-family: Rubik;
}

h1 {
    padding-left: 1rem;
    padding-right: 1rem;
    color: ghostwhite;
    text-align: right;

}

.chart-container {
    position: relative;
    width: 80vmin;
    height: 80vmin;
}

canvas, .overlay {
    position: absolute;
    top: 0;
    left: 0;
}

canvas, .overlay {
    width: 80vmin;
    height: 80vmin;
    max-width: min(100%, 600px);
    aspect-ratio: 1;
    /*width: 700px;
    height: 700px;*/
    /*transform: rotate(45deg);*/
    /*border: 2px solid hotpink;*/
}

rect {
    fill: transparent;
    stroke: transparent;
    stroke-width: 2;
    stroke: gray;
    opacity: 0;
    /*transform: rotate(145deg) scale(1.5);*/
    transition: opacity .3s;
}

rect.highlight {
    opacity: 0.5;


}

line {
    stroke: transparent;
    stroke-width: 3px;
    transition: stroke .2s, transform .4s;
}

.line-top { transform: translate(-120px, 0); }
.line-bottom { transform: translate(120px, 0); }
.line-left { transform: translate(0,-120px); }
.line-right { transform: translate(0, 120px); }

g:hover line {
    transform: translate(0,0);
    stroke: #333;
}



.overlay {
    z-index: 1;
}

.tooltip {
    position: absolute;
    top: 0;
    left: 0;
    font-size: .7rem;
    width: 250px;
    padding: 1em;
    border: 2px solid #333;
    box-shadow: 2px 2px gray;
    opacity: 0;
    transition: opacity .3s;
    background-color: rgba(255, 250, 240, 1);
    z-index: 2;
}

.tooltip p {
    margin: 0;
}

.tooltip.active {
    opacity: 1;
}

.tt-pandemia {
    background-color: firebrick;
    color: white;
}

.tooltip .p-tt-pandemia {
    line-height: 1.5;
}