* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 2rem;
    display: grid;
    place-content: center;
    background-color: floralwhite;
    font-family: Rubik;
}

h1 {
    padding-left: 1rem;
    padding-right: 1rem;
    color: ghostwhite;
    text-align: right;

}

canvas {
    width: 80vmin;
    height: 80vmin;
    max-width: min(100%, 600px);
    aspect-ratio: 1;
    /*width: 700px;
    height: 700px;*/
    /*transform: rotate(45deg);*/
    /*border: 2px solid hotpink;*/
}